.list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  &,
  &__item,
  &__item--full {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item,
  &__item--full {
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 30px;
    height: auto;
    width: auto;
    padding: 13%;
    margin: -3%;
    font-size: 20px;
    transition: box-shadow 1s ease-in, transform .3s, background .6s ease-out;
  }
  &__item--full {
    z-index: 2;
    cursor: pointer;
    background: rgba(255, 255, 221, 0.5);
    box-shadow: inset 0 0 5px -1px rgba(255,255,235,0.3);
    .item__image,
    .item__image--back {
      position: absolute;
      max-height: 70%;
    }
    .item__image,
    .item__image--back,
    &:hover .item__image--back {
      opacity: 0;
      transition: opacity .2s ease-out;
    }
    .item__image--back,
    &:hover .item__image {
      opacity: 1;
    }

    &:hover .item__image,
    &:hover .item__image--back {
      animation: shake 0.5s infinite;
    }
    &:hover .item__name {
      opacity: 1;
    }
  }
  &__item--full:hover {
    background: rgba(255, 255, 231, 0.8);
    transform: scale(1.2);
    box-shadow: 
      0px 0px 24px -3px #fff, 
      inset 0 0 5px -1px rgba(255,255,225,0.8),
      inset 0 0 20px #fff;
    animation: pulse 1.7s infinite;
  }
  .item__name {
    opacity: 0;
    width: 70%;
    position: absolute;
    bottom: 10%;
    color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 3px #fff;
    font-weight: 700;
    text-align: center;
    transition: opacity .5s ease-out;
  }
}