.ScrollbarContainer--scrolling {
  -webkit-touch-callout: none;
  user-select: none;
}

.ScrollbarContainer>div::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.ScrollbarContainer>div::scrollbar {
  width: 0;
  height: 0;
}
